# K-Fold Cross-Validation

Split the dataset into "k" number of folds(subsets). One chunck of data is used as test data for evalution & remaining part of the data is used for training the model. Each time, a different chunk will used as the test data.

In [73]:
# import Dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [74]:
# importing the models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data Collection and Processing

In [75]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('\ML_with_Python\Datasets\heart.csv')

In [76]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [77]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [78]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [79]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [80]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

1 -> Defective Heart

0 -> Healty Heart

Splitting the Features and Target

In [81]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [82]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [83]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Train Test Split

In [84]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 3)

In [85]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Comparing the performance of the models

In [86]:
# list of the models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [87]:
def compare_models_train_test():
    for model in models:

        # training the model
        model.fit(X_train, Y_train)

        # evaluting the model
        test_data_prediction = model.predict(X_test)

        accuracy = accuracy_score(Y_test, test_data_prediction)

        print('Accuracy score of the', model, ' = ', accuracy)

In [88]:
compare_models_train_test()

Accuracy score of the LogisticRegression(max_iter=1000)  =  0.7704918032786885
Accuracy score of the SVC(kernel='linear')  =  0.7704918032786885
Accuracy score of the KNeighborsClassifier()  =  0.6557377049180327
Accuracy score of the RandomForestClassifier()  =  0.7868852459016393

# Cross Validation

In [89]:
# Logistics Regression

cv_score_lr = cross_val_score(LogisticRegression(max_iter=10000), X, Y, cv=5)

print(cv_score_lr)

mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)

mean_accuracy_lr = mean_accuracy_lr*100

mean_accuracy_lr = round(mean_accuracy_lr, 2)

print(mean_accuracy_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

In [90]:
# Support Vector Classifer

cv_score_svc = cross_val_score(SVC(kernel='linear'), X, Y, cv=5)

print(cv_score_svc)

mean_accuracy_svc = sum(cv_score_svc)/len(cv_score_svc)

mean_accuracy_svc = mean_accuracy_svc*100

mean_accuracy_svc = round(mean_accuracy_svc, 2)

print(mean_accuracy_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

Creating a Function to compare the models

In [91]:
# list of the model
models = [LogisticRegression(max_iter=10000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [92]:
def compare_models_cross_validation():

    for model in models:

        cv_score = cross_val_score(model, X, Y, cv=5)

        print(cv_score)

        mean_accuracy = sum(cv_score)/len(cv_score)

        mean_accuracy = mean_accuracy*100

        mean_accuracy = round(mean_accuracy, 2)

        print('Cross Validation accuracies for', model, '= ', cv_score)
        print('Accuracy % of the ', model, mean_accuracy)
        print('----------------------------------------------')

In [93]:
compare_models_cross_validation()

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Cross Validation accuracies for LogisticRegression(max_iter=10000) =  [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy % of the  LogisticRegression(max_iter=10000) 82.83
----------------------------------------------
[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Cross Validation accuracies for SVC(kernel='linear') =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % of the  SVC(kernel='linear') 82.83
----------------------------------------------
[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Cross Validation accuracies for KNeighborsClassifier() =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % of the  KNeighborsClassifier() 64.39
----------------------------------------------
[0.83606557 0.8852459  0.81967213 0.81666667 0.75      ]
Cross Validation accuracies for RandomForestClassifier() =  [0.83606557 0.8852459  0.81967213 0.81666667 0.75      ]
Accuracy % of the  RandomForestClassifier() 82.15
----------------------------------------------

In [97]:
from sklearn.model_selection import StratifiedKFold, cross_val_score  # Import required modules

def compare_models_cross_validation_KFold():
    for model in models:
        # Define a StratifiedKFold instance
        kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=3)
        
        # Perform cross-validation and compute accuracy for each fold
        cv_scores = cross_val_score(model, X, Y, cv=kfold) 
        
        # Calculate mean accuracy
        mean_accuracy = cv_scores.mean() * 100
        mean_accuracy = round(mean_accuracy, 2)

        print('Cross Validation accuracies for ', model, '=  ', cv_scores)
        print('Accuracy % of the ', model, mean_accuracy)
        print('----------------------------------------------')

# Call the function to test
compare_models_cross_validation_KFold()

Cross Validation accuracies for  LogisticRegression(max_iter=10000) =   [0.81967213 0.78688525 0.86885246 0.88333333 0.83333333]
Accuracy % of the  LogisticRegression(max_iter=10000) 83.84
----------------------------------------------
Cross Validation accuracies for  SVC(kernel='linear') =   [0.78688525 0.78688525 0.8852459  0.88333333 0.81666667]
Accuracy % of the  SVC(kernel='linear') 83.18
----------------------------------------------
Cross Validation accuracies for  KNeighborsClassifier() =   [0.67213115 0.67213115 0.70491803 0.68333333 0.63333333]
Accuracy % of the  KNeighborsClassifier() 67.32
----------------------------------------------
Cross Validation accuracies for  RandomForestClassifier() =   [0.8852459  0.7704918  0.81967213 0.88333333 0.83333333]
Accuracy % of the  RandomForestClassifier() 83.84
----------------------------------------------